[submodule "mupen64plus-core-tas"]
	path = native/mupen64plus-core-tas
	url = https://github.com/jgcodes2020/mupen64plus-core
	branch = rerecording
[submodule "mupen64plus-win32-deps"]
	path = native/mupen64plus-win32-deps
	url = https://github.com/mupen64plus/mupen64plus-win32-deps.git
